@model NWHarvest.Web.ViewModels.FoodBankViewModel
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#availableListings" aria-controls="firstList" role="tab" data-toggle="tab">Available</a></li>
    <li role="presentation"><a href="#ownedListings" aria-controls="secondList" role="tab" data-toggle="tab">Owned</a></li>
    <li role="presentation"><a href="#claimedListings" aria-controls="thirdList" role="tab" data-toggle="tab">Claimed</a></li>
</ul>

<!-- Tab panes -->
<div class="panel panel-default">
    <div class="panel-body">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="availableListings">
                <div>
                    @Html.Partial("__FoodBankAvailableTableListing", Model.AvailableListings)
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="ownedListings">
                <div>
                    @Html.Partial("__FoodBankOwnedTableListing", Model.MyListings)
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="claimedListings">
                <div>
                    @Html.Partial("__FoodBankClaimedTableListing", Model.Claims)
                </div>
            </div>
        </div>
    </div>
</div>
