@model NWHarvest.Web.ViewModels.ListingViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="ListingId" name="ListingId" value="@Model.Id" />
    <div class="form-actions no-color">
        <input type="submit" value="Pickup Claim" class="btn btn-default btn-success" />
        @Html.ActionLink("Cancel", "Profile", "FoodBanks", null, new { @class = "btn btn-default btn-sm" })
    </div>
}                   