@model NWHarvest.Web.ViewModels.ClaimListingViewModel

@{
    ViewBag.Title = "Claim Form";
    Model.Quantity = Model.Available;
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 card">
            <div class="card-body">
                @Html.Partial("_ClaimForm", Model)
            </div>
        </div>
    </div>
</div>