@model NWHarvest.Web.ViewModels.FoodBankEditViewModel

@{
    ViewBag.Title = "Edit Food Bank";
    ViewBag.NavBarTitle = ViewBag.Title;
}

<h2>Edit FoodBank</h2>
<hr />
@Html.Partial("_EditForm", Model)

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
