@model NWHarvest.Web.ViewModels.FoodBankViewModel

@{
    ViewBag.Title = "Food Bank Details";
    ViewBag.NavBarTitle = "Food Bank Profile";
    var editActionLink = Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" });
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_FoodBankDetail", Model)
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <h4>Listings @Html.ActionLink("Create New", "Create", "Listings", null, new { @class = "btn btn-xs btn-success" }) </h4>
            @Html.Partial("_FoodBankTableListing", Model)
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/javascript")

    <script type="text/javascript">
        $(document).ready(function () {

            $("a[data-toggle=\"tab\"]").on("shown.bs.tab", function (e) {
                $($.fn.dataTable.tables(true)).DataTable()
                    .columns.adjust()
                    .responsive.recalc();
            });

            var table = $('.table')
                .dataTable({
                    responsive: {
                        details: {
                            type: 'column',
                            target: -1,
                            display: $.fn.dataTable.Responsive.display.modal({
                                header: function (row) {
                                    var data = row.data();
                                    return 'Listing';
                                }
                            }),
                            renderer: $.fn.dataTable.Responsive.renderer.tableAll({
                                tableClass: 'table'
                            })
                        }
                    },
                    columnDefs: [{
                        className: 'control',
                        orderable: false,
                        targets: [-1]
                    },
                    {
                        visible: false,
                        targets: [-3]
                    }, {
                        orderable: false,
                        targets: [-2]
                    }]
                });

        });
    </script>
}