@model NWHarvest.Web.ViewModels.PickupLocationEditViewModel

@{
    ViewBag.Title = "Create Pickup Location";
}

<h2>@ViewBag.Title</h2>
<h4>@Model.Grower.Name</h4>
<hr />

@Html.Partial("_PickupLocationCreateForm", Model)

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
