@model IEnumerable<NWHarvest.Web.ViewModels.PickupLocationViewModel>

@{
    ViewBag.Title = "Pickup Locations";
    ViewBag.NavBarTitle = "Pickup Locations";
}

<h3>@ViewBag.GrowerName</h3>
<p>
    @Html.ActionLink("Add Location", "Create", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Grower Profile", nameof(Profile), "Growers", null, new { @class = "btn btn-primary" })
</p>
<div class="container-fluid">
    <div class="row">
        @Html.Partial("_PickupLocation", Model)
    </div>
</div>