@{
    ViewBag.Title = "About";
    ViewBag.NavBarTitle = ViewBag.Title;
}

<div class="container-fluid">
    <div class="row">
        <h2>Growing Connections</h2>
        @Html.Partial("_About")
    </div>
</div>