@using NWHarvest.Web.Models
@model IEnumerable<string>
@{
    ViewBag.Title = "Growing Connections";
}

<div class="row">
    <div class="col-md-3 text-center">
        <p>
            @Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "btn btn-primary", style = "width: 240px" })
        </p>
        <p>
            @Html.ActionLink("Register Now!", "Register", "Account", new {area = ""}, new {@class = "btn btn-primary", style = "width: 240px"})
        </p>
    </div>
    <div class="col-md-9">
        <h2>Growing Connections Produce Portal</h2>
        @foreach (var t in Model){
            <p>@Html.DisplayFor(modelItem => t)</p>
        }
        <p>If you have questions, or encounter problems, please send an email to <a href="mailto:growingconnections@northwestharvest.org?Subject=Growing%20Connections">growingconnections@northwestharvest.org.</a></p>
    </div>
</div>