
@{
    ViewBag.Title = "View";
}

<h2>Registration Complete</h2>

<div class="col-md-9">    
    <p>Please check your email for your registration confirmation. After you confirm your email address, you will be able to login.</p>
</div>

