body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.input-group,
.datepicker {
    max-width: 280px;
}

.form-group p {
    max-width: 280px;
}

.userType, .notifType {
    margin-bottom: 30px;
    display: flex;
}

    .userType select, .notifType select {
        margin-left: 15px;
    }

.customRegister {
    width: 100%;
    max-width: 280px;
    margin-bottom: 100px;
    background-color: #548AC8;
    color: white;
}

/*smartphone 576 x 527 */
@media (min-width:0px) and (max-width: 576px) {
    .header {
        display: none !important;
    }

    .navbar-collapse {
        background-repeat: no-repeat;
        background-size: 100%;
    }

    input,
    select,
    textarea,
    .input-group {
        max-width: 100% !important;
    }

    .datepicker {
        max-width: 90% !important;
    }

    .mobile-logo {
        margin-bottom: 10px;
    }
}

/* tablets 880 x 527*/
@media (min-width:576px) and (max-width: 880px) {
    bannerWrapper {
        width: 880px;
    }

    .header {
        text-align: center;
        background-repeat: no-repeat;
        background-color: #154399;
        border-color: #154399;
        margin-bottom: 10px;
    }

    .navbar {
        display: none !important;
    }

    .navbar-collapse {
        display: none !important;
    }

    .mobile-logo {
        display: none;
    }
}

/* laptop & desktop*/
@media (min-width:880px) {
    .header {
        text-align: center;
        background-repeat: no-repeat;
        margin-bottom: 10px;
    }

    .navbar {
        display: none !important;
    }

    .mobile-logo {
        display: none;
    }
}

.header {
    background-color: #154399;
}

.header img {
    padding: 1px;
    border-color: #154399;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 10px;
    top: 14px;
    text-align: center;
    margin: auto;
    padding: 0;
    color: #fff !important;
}

.navbar-brand-title {
    text-align: center;
    margin-left: -70px;
}

.navbar-brand a {
    color: #ffffff;
}

.navbar-toggle {
    z-index: 1;
}

.body-content h2, body .body-content #registerTitle {
    color: #F4AA00;
    font-family: Arial;
    font-weight: bold;
    font-size: 26px;
}

div.body-content div.text-center a.btn {
    background-color: #548ac8;
}

/* datatables */
table {
    table-layout: fixed;
}

    table.dataTable thead th {
        padding: 10px;
    }

.tableDetails dd {
    margin-bottom: 10px;
}

.dataTable td {
    white-space: nowrap;
    max-width: 160px;
    min-width: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
}

.strong {
    font-weight: bold;
}

/* bootstrap-select */
.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
    color: black;
}

.nav-tabs {
    border-bottom: 0px solid #ddd !important;
}

.bannerWrapper {
    position: relative;
    display: inline-block;
    text-align: center;
    /*border: 1px solid red;*/
}

.bannerWrapper img.img-responsive {
    display: inline;
}

.bannerWrapper #nav-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    /*width: 100px;*/
    /*height: 30px;*/
}

.bannerWrapper #nav-overlay a {
    margin-left: 5px;
}
