@model IEnumerable<NWHarvest.Web.ViewModels.ListingViewModel>

@{ 
    var availableListings = Model.Where(l => l.IsAvailable == true && l.ExpirationDate > DateTime.UtcNow);
    var pendingPickupListings = Model.Where(l => l.IsAvailable == false && l.IsPickedUp == false && l.ExpirationDate > DateTime.UtcNow);
    var claimedOrExpiredListings = Model.Where(l => l.IsPickedUp == true || (l.IsAvailable == true && l.IsPickedUp == false && l.ExpirationDate < DateTime.UtcNow));
}

<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#availableListings" aria-controls="firstList" role="tab" data-toggle="tab">Available</a></li>
        <li role="presentation"><a href="#pendingPickupListings" aria-controls="secondList" role="tab" data-toggle="tab">Pending Pickup</a></li>
        <li role="presentation"><a href="#claimedOrExpiredListings" aria-controls="thirdList" role="tab" data-toggle="tab">Claimed/Expired</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="availableListings">
                    <div>
                        @Html.Partial("__GrowerAvailableTableListing", availableListings)
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="pendingPickupListings">
                    <div>
                        @Html.Partial("__GrowerPendingPickupTableListing", pendingPickupListings)
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="claimedOrExpiredListings">
                    <div>
                        @Html.Partial("__GrowerClaimedOrExpiredTableListing", claimedOrExpiredListings)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

