@model NWHarvest.Web.ViewModels.UserViewModel

<p>Are you sure you want to remove this number: @Model.PhoneNumber?</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <input type="submit" value="Remove" class="btn btn-danger" />
        @Html.ActionLink("Cancel", "Index", "Manage", null, new { @class = "btn btn-default" })
    </div>
}
