@model NWHarvest.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    ViewBag.NavBarTitle = ViewBag.Title;
}

<h3>@Model.UserName</h3>
<hr />

@Html.Partial("_ChangePassword")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}