@model NWHarvest.Web.ViewModels.PhoneNumberViewModel

@{
    ViewBag.Title = $"{Model.Action } Phone Number";

    if (Model.Action == "Update")
    {
        ViewBag.Title = "Manage Phone Number";
        ViewBag.RemoveActionLink = Html.ActionLink("Remove", "RemovePhoneNumber", null, new { @class = "btn btn-default btn-danger" });
    }

    ViewBag.NavBarTitle = ViewBag.Title;
}

<h3>@Model.UserName</h3>
<hr />

@Html.Partial("_PhoneNumber")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
