@model NWHarvest.Web.Models.VerifyPhoneNumberViewModel
@{
    ViewBag.Title = "Verify Phone Number";
    ViewBag.NavBarTitle = ViewBag.Title;
}

<h3>@Model.UserName</h3>
<hr />

@Html.Partial("_VerifyPhoneNumber")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
