@{
    ViewBag.Title = "User Does Not Exist";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        We could not find that account. Please register as a new user.
    </p>
</div>

