@{
    ViewBag.Title = "Email is Unconfirmed";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        You cannot reset your password until you confirm your email address. Please check your email to confirm your registration.
    </p>
</div>
