@model NWHarvest.Web.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register for Growing Connections";
}
<style>
    .body-content {
        padding-top:0px;
    }
</style>

<h2 id="registerTitle">@ViewBag.Title</h2>
@Html.Partial("_RegisterForm")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
